*{
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  background-color: white;
}

.navbar{
    background-color: white;
    text-align: center;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.img{
    top: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
}

.economie{
    color: #006CDE;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.sport{
    color:#E00613 ;
    background-color: white;  
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.tech{
    color: #5100AF;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.media{
    color: #ED893C;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.achterklap{
    color: #B60F80;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.shop{
    color: #1F2544;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.meer{
    color: #1F2544;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.algemeen{
    color: #1F2544;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.netbinnen{
    color: #1F2544;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    background-color: white;
}

.zon{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #1F2544;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#section1{
    background-color: black;
    height: 622px;
    width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #000000;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: white;
  grid-area: 1 / 1 / span 5 / span 1;
  text-align: right;
}
.item2 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: white;
  grid-area: 1 / 1 / span 1 / span 6;
}
.item3 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: white;
  grid-area: 1 / 6 / span 5 / span 1;
}
.item4 {
  color: white;
  grid-area: 2 / 2 / span 6 / span 4;
  height:1000px;
}

.button{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  border-radius: 25px;
  font-size: 20;
  width: 125px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
}